body {
  background-color: #F5F5DC;
  height: 1000px;
}

#beige-bg-color {
  background-color: white;
  height: 500px;
  border-radius: 20px;
  position: fixed;
  right: 30px;
}

#positioning {
  padding-top: 20px;
  text-align: center;
}

input {
  text-align: center;
  word-wrap: break-word;
  border-radius: 20px;
  border: gray-light 1px solid;
}


#col-width {
  col width: 20px;
}

.form-control {
  width: 20%;
}

#center-btn {
  text-align: center;
}

span {
  font-size: 1.5em;
  text-align: center;
}